span {
  display: block;
  margin-bottom: 20px;
}

.linha-destaque--pequena {
  width: 32px;
  border-bottom: 4px solid;
  margin: 0 auto 24px;
}

.linha-destaque--grande {
  width: 64px;
  border-bottom: 4px solid var(--color-primaria);
}

.romance {
  border-color: #82cffa;
}

.misterio {
  border-color: #a6d157;
}

.fantasia {
  border-color: #e06b69;
}

.ficcao-cientifica {
  border-color: #db6ebf;
}

.tecnicos {
  border-color: #ff8a29;
}
