@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-prata: "Prata", serif;

  --color-primaria: #6278f7;
  --color-secundaria: #2e2e2e;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

.texto-titulo {
  font-family: var(--font-prata);
  font-size: 40px;
  font-weight: var(--font-weight-normal);
  line-height: 72px;
  text-align: center;
  color: var(--color-primaria);
  margin-bottom: 20px;
}

.link {
  cursor: pointer;
}

.texto-h3-prata {
  font-family: var(--font-prata);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 38px;
  text-align: center;
}
